.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 20px);
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/113/890/non_2x/free-vector-blue-degraded-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.photoPerfil {
    height: 30%;
    widows: 20%;
    border-radius: 50%;
}

.color {
    width: 94%;
    height: 115px;
    color: rgb(231, 219, 219);
    text-align: center;
}

.colorB {
    color: rgb(56, 122, 116);
}

.botao {
    color: #65ccd3;
    text-decoration: none;
    padding: 24px;
    background-color: seashell;
    border-radius: 97px;
}

.botao:hover {
    color: red;
    text-decoration: none;
    padding: 24px;
    background-color: green;
    border-radius: 97px;
}